extends base

block content
    main.main
        h1 MAIN CONTENT - OVERVIEW
        each workout in workouts
            p= workout
//- extends base

//- block content
//-     main.main
//-         h1 MAIN CONTENT - OVERVIEW TEMPLATE!!
//-         //- .workout-container
//-         //-     each workout in workouts
//-         //-         .workout
//-         //-             p= workout.type
